{% extends 'most_basic_layout.html' %}

{% block content %}
    <div class="form-container">
        <form class="site-form" action="/accounts/login/" method="post" >
            <h1 style="color: red;">Login Form</h1>
            {% csrf_token %}
            {{form}}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <input class="submit-button" type="submit" value="Login">
        </form>
    </div>
{% endblock %}